.break {
    flex-basis: 100%;
    height: 0;
}

.bar {
    margin-bottom: 35px;
    line-height: 7px;
    display: inline-block;
}

.bar:after {
    content: "";
    position: absolute;
    left: auto;
    margin-top: 5px;
    height: 80px;
    width: 1px;
    border-left: 1px solid black;
}

.note {
    position: absolute;
}

.beat-parent {
    display: inline-block;
}

.beat-line {
    font-size: 30px;
    line-height: 4px;
    position: relative;
    text-align: center;
    width: 100px;
    height: 10px;
}

.beat-noline {
    font-size: 30px;
    line-height: 4px;
    position: relative;
    text-align: center;
    width: 100px;
    height: 10px;
}

.clef {
    position: absolute;
    width: 100px;
}

.beat-line:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: black;
  content: "";
  width: 100%;
  display: block;
}

.beat-singleline:after {
    position: absolute;
    left: 43px;
    top: 50%;
    height: 1px;
    background: black;
    content: "";
    width: 27%;
    display: block;
}