.toolboxItem {
    font-size: 25px;
    width: 30px;
    height: 30px;
}

.toolbox {
    position: fixed;
    top: 170px;
    left: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 45px;
    border-radius: 37px;
    background-color: white;
    -webkit-box-shadow: 1px 0px 7px #aba6a6;
}

.toolbox svg {
    margin: 10px;
}

.toolbox .selected {
    background-color: #c1d2ff;
}